# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code workspace settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python eggs
*.egg

# Logs
*.log

# Ignore env vars and secrets
.env
